<%= form_for(@wine, :html => { :multipart => true }) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= hidden_field_tag 'page', @current_page %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shortdesc %><br>
    <%= f.text_field :shortdesc %>
  </div>
  <div class="field">
    <%= f.label :longdesc %><br>
    <%= f.text_field :longdesc %>
  </div>
  <div class="field">
    <%= f.label :grapetype %><br>
    <%= f.text_field :grapetype %>
  </div>
  <div class="field">
    <%= f.label :forvegeterians %><br>
    <%= f.check_box :forvegeterians %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :bottlesize %><br>
    <%= f.text_field :bottlesize %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, :class => 'text_field', :step => 'any' %>
  </div>
  <div class="field">
    <%= f.label :supplier %><br>
    <%= f.text_field :supplier %>
  </div>
  <div class="field">
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
